.gift {
  cursor: pointer;
}

.gift:hover {
  transform: scale(1.25);
}

.bar-red {
  height: 4px;
  background-color: #C53558;
}

.bar-blue {
  height: 4px;
  background-color: #6CB8F2;
}

.bar-yellow {
  height: 4px;
  background-color: #F0E04F;
}